<h1>User Dashboard</h1>
<br>
<div class="row">
	<button class="btn btn-success btn-lg">New Website</button>
</div>
<br>
<div class="row">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Website Name</th>
				<th>URL</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Groceries</td>
				<td>
					<a href="https://gudthing.github.io/groceries/">https://gudthing.github.io/groceries/</a>
				</td>
				<td>
					<button class="btn btn-primary btn-sm">View</button>
					<button class="btn btn-warning btn-sm">Edit</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>