<form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onLogin()">
	<h2 class="form-signin-heading">Please sign in</h2>

	<label for="email" class="sr-only">Email address</label>
	<input type="email" id="email" class="form-control" placeholder="Email address" formControlName="email" #email>
    <div *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].dirty && loginForm.controls['email'].touched" style='color:red;'>
		Invalid email address
	</div>
	<label for="password" class="sr-only">Password</label>
	<input type="password" id="password" class="form-control" placeholder="Password" formControlName="password" #password>
	 <div *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].dirty && loginForm.controls['password'].touched" style='color:red;'>
		Password Must Be more than 6 characters long
	</div>
	<!--<div class="checkbox">
		<label>
            <input type="checkbox" value="remember-me"> Remember me
    </label>
	</div>-->
	<button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
</form>